window {
    opacity: 1.0;
    border: 0px;
    border-radius: 10px;
    font-family: "Cartograph CF Nerd Font", monospace;
    font-weight: bold;
    font-size: 18px;
    border: 3px solid #181825;
    background-color: #eee6d3;
}

#input {    
    padding: 10px;
    margin: 0px;
    font-size: 28px;
    color: #000000;
    /* background-color: #e8e8e8; */
}

#inner-box {
    margin: 0px;
    color:#000000;
    border-radius: 10px;
    /* background-color: #e8e8e8; */
}

#outer-box {
    margin: 0px;
    border: 3px solid #181825;
}

#selected {
    border-radius: 10px;
}

#entry {
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
}

#scroll {
    margin: 10px;
}

#text {
    margin: 0px;
    padding: 2px 2px 2px 10px;
}